:root {
  --aqua: #00ffd6;
  --aqua-2: #00ffd6;
  --dark-turquoise: #00d6b4;
  --dark-cyan: #00ad92;
  --black: #222;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #fff;
  background-color: #222;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  color: #fff;
  letter-spacing: .5px;
  margin-bottom: 16px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 24px;
  display: block;
}

a {
  color: #00d6b4;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

.hero {
  background-image: linear-gradient(#00000091, #222), url('../images/Design-sem-nome-4-1.png');
  background-position: 0 0, 38%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  min-height: 540px;
}

.hero.small {
  min-height: 410px;
}

.hero.sub-page {
  height: 62vh;
}

.hero.about-page {
  background-image: linear-gradient(#00000091, #222), url('../images/photo-1441716844725-09cedc13a4e7.jpg');
  background-size: auto, cover;
  min-height: 340px;
}

.hero.contact-page {
  min-height: 450px;
}

.hero.project-page {
  min-height: 384px;
}

.hero-content {
  color: #fff;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.hero-content.small {
  inset: auto 0 0%;
  transform: none;
}

.nav {
  background-color: #0000;
  padding-top: 28px;
}

.nav-link {
  color: #999;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Exo, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
  transition: color .2s;
}

.nav-link:hover {
  color: #fff;
  text-decoration: none;
}

.nav-link.w--current {
  color: #4a97ff;
  font-family: Exo, sans-serif;
  font-weight: 400;
}

.logo {
  color: #fff;
  padding: 15px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.logo:hover {
  color: #fff;
  text-decoration: none;
}

.subtitle {
  color: #ffffff7d;
  text-transform: uppercase;
  margin-bottom: 35px;
  font-size: 12px;
  line-height: 18px;
}

.button {
  color: #fff;
  text-transform: uppercase;
  background-color: #002fff82;
  border: 1px solid #004aad;
  border-radius: 3px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: Exo, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  transition: all .2s;
}

.button:hover {
  color: #fff;
  border-color: #fff;
}

.button.submit {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 45px;
  display: block;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-wrapper {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.tab-menu {
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}

.tab-link {
  color: #999;
  background-color: #0000;
}

.tab-link:hover {
  color: #fff;
}

.tab-link.w--current {
  color: #fff;
  background-color: #0000;
  border-bottom: 1px solid #fff;
}

.photo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 300px;
  margin: 15px 5px;
  display: block;
}

.footer {
  color: #999;
  text-align: center;
  background-color: #222;
  margin-top: 29px;
  padding-top: 36px;
  padding-bottom: 36px;
  font-size: 12px;
  line-height: 18px;
}

.footer-link {
  color: #999;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.section-title {
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 32px;
  font-family: Exo, sans-serif;
  font-size: 26px;
  font-weight: 300;
}

.main-image {
  margin-bottom: 50px;
}

.form {
  color: #fff;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.left-column {
  color: #fff;
  padding-right: 40px;
}

.main-heading {
  color: #fff;
  margin-bottom: 27px;
  font-family: Exo, sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 53px;
}

.main-heading.inline {
  display: inline;
}

.main-heading.inline.bolder {
  font-weight: 300;
}

.heading-wrapper {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
}

.footer-logo {
  color: #c2c2c2;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 19px;
  line-height: 22px;
}

.profile-pic {
  border-radius: 100%;
  width: 90px;
  margin-bottom: 31px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about-me {
  width: 61%;
  margin: 41px auto;
  display: block;
}

.field {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.input {
  color: #fff;
  background-color: #4b4b4b;
  border-style: none;
  border-radius: 3px;
  min-height: 50px;
  margin-bottom: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: box-shadow .2s;
}

.input:focus {
  box-shadow: inset 0 0 0 2px #00d6b4;
}

.input.text-area {
  min-height: 141px;
}

.secondary-title:hover {
  text-decoration: none;
}

.empty-state {
  text-align: center;
  background-color: #0000;
  border: 1px solid #ffffff57;
  border-radius: 3px;
  padding: 33px 33px 49px;
}

.no-items-title {
  font-weight: 300;
}

.project-image {
  border-radius: 3px;
  margin-bottom: 22px;
  transition: opacity .2s;
}

.project-image:hover {
  opacity: .69;
}

.super-heading {
  color: #ffffff5c;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
}

.testimonial {
  text-align: center;
  margin-bottom: 44px;
  font-weight: 100;
}

.company {
  text-align: center;
}

.testimonial-wrapper {
  text-align: center;
  margin-bottom: 43px;
}

.project-body-copy {
  margin-bottom: 67px;
  margin-left: 12%;
  margin-right: 12%;
}

.success {
  background-color: #00ad92;
  border-radius: 3px;
}

.success-message {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}

.main-detail-image {
  border-radius: 3px;
  max-width: 400px;
  margin-bottom: 41px;
}

.category-link {
  letter-spacing: 1px;
  text-decoration: none;
  transition: opacity .2s;
}

.category-link:hover {
  opacity: .67;
  text-decoration: none;
}

.grid {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.link-grid {
  transition: all .15s ease-in;
}

.link-grid:hover {
  opacity: .6;
}

.section-pe {
  background-color: #2a2d30;
  padding-top: 45px;
}

.bottom-footer-link {
  color: #91959c;
}

.bottom-footer-link:hover {
  color: #ffffffb3;
}

.simple-bottom-footer {
  color: #979da5;
  background-color: #424549;
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 32px;
}

.footer-inline-link {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-right: 15px;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
}

.footer-inline-link:hover {
  color: #fff6;
}

.footer-menu-column {
  text-align: center;
}

.bottom-footer-paragraph {
  float: left;
  margin-bottom: 0;
  font-size: 12px;
}

.bottom-footer-paragraph.right {
  float: right;
}

.footer-social-col-right {
  text-align: right;
}

.container-4 {
  position: relative;
}

.footer-logo-2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  line-height: 17px;
}

.footer-logo-2.subtitle {
  opacity: .5;
  text-transform: none;
  font-size: 11px;
  font-weight: 400;
}

.footer-small-social-icon {
  color: #fff;
  height: 15px;
}

.footer-social-icon {
  color: #f1f1f1;
  text-align: center;
  background-color: #d2d2d2;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  margin-top: -2px;
  margin-right: 5px;
  padding-top: 5px;
  transition: background-color .2s;
}

.footer-social-icon:hover {
  background-color: #1f6fff;
}

.text-block {
  font-family: Open Sans, sans-serif;
}

.arrow-up-circle {
  width: 5vw;
  height: 5vw;
  transform: rotate(180deg);
}

.link-block {
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
}

.div-block {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  display: flex;
}

@media screen and (max-width: 991px) {
  .hero {
    min-height: 520px;
  }

  .hero.about-page {
    min-height: 310px;
  }

  .hero.contact-page {
    min-height: 400px;
  }

  .hero.project-page {
    min-height: 344px;
  }

  .nav {
    margin-top: 0;
  }

  .menu-button {
    color: #fff;
  }

  .menu-button:hover {
    color: #00d6b4;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .heading-wrapper {
    margin-top: 115px;
  }

  .nav-menu {
    background-color: #000;
  }

  .project-body-copy {
    margin-left: 12%;
    margin-right: 12%;
  }

  .footer-inline-link {
    margin-right: 9px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    min-height: 420px;
  }

  .hero.small {
    min-height: 280px;
  }

  .hero.about-page {
    min-height: 230px;
  }

  .hero.contact-page {
    min-height: 290px;
  }

  .hero.project-page {
    min-height: 256px;
  }

  .nav {
    padding-top: 0;
  }

  .form {
    width: 80%;
  }

  .left-column {
    padding-right: 10px;
  }

  .main-heading {
    font-size: 38px;
    line-height: 43px;
  }

  .heading-wrapper {
    margin-top: 72px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-me {
    width: 81%;
    margin-top: 0;
  }

  .project-body-copy {
    margin-left: 40px;
    margin-right: 40px;
  }

  .footer-logo-column-left {
    padding-left: 0;
    padding-right: 0;
  }

  .simple-bottom-footer {
    text-align: left;
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .footer-row {
    padding-left: 25px;
    padding-right: 25px;
  }

  .footer-menu-column {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .bottom-footer-paragraph {
    float: none;
    margin-bottom: 7px;
  }

  .bottom-footer-paragraph.right {
    float: none;
  }

  .footer-social-col-right {
    text-align: left;
    padding-top: 10px;
    padding-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    min-height: 340px;
  }

  .hero.about-page {
    min-height: 193px;
  }

  .hero.project-page {
    min-height: 226px;
  }

  .form {
    width: 90%;
  }

  .heading-wrapper {
    margin-top: 50px;
  }

  .about-me {
    width: 91%;
  }

  .project-body-copy {
    margin-left: 18px;
    margin-right: 18px;
  }

  .grid {
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
  }

  .section-pe {
    padding-top: 35px;
  }

  .footer-logo-column-left {
    padding-bottom: 10px;
  }

  .simple-bottom-footer {
    padding: 20px 20px 13px;
  }

  .footer-row {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-inline-link {
    margin-top: -1px;
    margin-right: 7px;
  }

  .footer-menu-column {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .arrow-up-circle {
    width: 20vw;
    height: 20vw;
  }

  .div-block {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vw;
    display: flex;
  }
}


